// reset
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;

  // renders
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // disable blue box on mobile
  -webkit-tap-highlight-color: transparent;
}

:root {
  --pri: #51b4fe;
  --pri-light: #93cffe;
  --pri-dark: #3498fe;
  --sec: #fab63f;
  --sec-light: #fed94f;
  --sec-dark: #f36c29;
  --ter: #2a2e4c;
  --ter-light: #545c98;
  --ter-dark: #0d0f18;

  --bg-day: linear-gradient(30deg, var(--pri-dark) 0%, var(--pri-light) 75%);
  --bg-night: linear-gradient(30deg, var(--ter) 0%, var(--ter-dark) 75%);
  --bg-sunny: radial-gradient(circle at top right, var(--sec) 10%, var(--sec-light) 20%, rgba(255, 255, 255, 0) 50%);

  --font-pri: "Circular Std", "Segoe UI Emoji", sans-serif;
  --font-sec: "Operator Mono Lig", monospace;

  font-family: var(--font-pri);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: $black;
  color: $base;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  overflow: hidden;
}

.scroll {
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  &::-webkit-scrollbar-track {
    background-color: $border;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $pri;
  }
}

//hyperlinks
a {
  text-decoration: none;
  color: var(--pri);
}

//lists
ul {
  list-style: none;
}

//code
pre,
code {
  font-family: var(--font-sec);
}
